<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h3>Dear, {{ username }} </h3>
        <p>This email contains the details of your ticket. You can find the information below:</p>
        <h4>
            Name: {{ name }}
            <br/>
            Flight Number: {{ flight_number }}
            <br/>
            Booking Reference: {{ ticket_number }}
            <br/>
            Departure Date: {{ depart_date }}
            <br/>
            Arrival Date: {{ arrive_date }}
            <br/>
            Local Airport: {{ departure }}
            <br/>
            Destination: {{ destination }}
            <br/>
            Phone Number: {{ phone_number }}
            <br/>
            Passport Number: {{ passport_number }}
            <br/>
            Contact Address: {{ contact_address }}
            <br/>
            Date of Birth: {{ date_of_birth }}
        </h4>
    <p> Ensure you make payments within 7 days to make a flight reservation.
        Thank you.
    </p>
    <p>- Flight Team</p>
    </body>
</html>